
.modal-content {
    overflow: auto;
    min-height: 400px;
    width: 800px;
    background: #fff;
    margin: 15px auto 15px auto !important;
    position: relative !important;
    padding: 5px;
    z-index: 3;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}
.modal-content .modal-content {
    margin-top: 30px !important;
}
.modal-content .modal-content .modal-content {
    margin-top: 45px !important;
}
.modal-content .modal-content .modal-content .modal-content{
    margin-top: 60px !important;
}
.modal-content .modal-content .modal-content .modal-content{
    margin-top: 75px !important;
}
.modal-base{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    height: calc(100vh);
    z-index: 2;
}

.modal-base.off {
    -webkit-transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}

.modal-base.on {
    -webkit-transition: opacity 0.3s;
    opacity:  1;
}

.modal-base > .modal-overlay {
    overflow: auto;
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    width: calc(100vw);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    height: calc(100vh);
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.transparent {
    pointer-event: none;
    background: none !important;
}



.modal-base.off > .modal-content {
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    transform: translateY(-8%);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}


.modal-base.on > .modal-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    opacity: 1;
}